<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="post_group">
        <table class="post_table">
            <thead id="post_head">
                <tr>
                    <th>ID</th>
                    <th>Disabled 이름</th>
                </tr>
            </thead>
            <tbody>
                
                <% for(let post of posts) { %>
                    <form action="" method="GET" id="post_frm">
                        <tr>
                        
                        <td><%= post.user_id %></td>
                        <td><%= post.name %></td>
                    <!-- <td><a href="#" onclick="chk_form( <%=post.program_id%> )" ><%= post.title %></a></td> -->
                        </tr>
                    </form>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>