<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <%- include('top.ejs') %>
    <div class="search_wrap">
        <form id="finderid" action="/finder" class="search_form" method="POST" >
            <div class="search_box">
                <input type="text" placeholder="검색어를 입력하세요" name="findkey" class="input_search">
            </div>
            <a class="btn_delete" onclick="search_delete()">
                <span class="ico_delete">
                    <img src="/img/ico_delete_01.svg">
                </span>
            </a>
            <button class="btn_search" type="submit">검색</button>
        </form>
    </div>
</body>
</html>