<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="finderid" action="/finder" method="POST"  >
        <label for="findkey">검색어 : </label>
        <input type="text" placeholder="검색어를 입력하세요." name="findkey" id="findkey">
        <button type="submit">검색</button>
    </form>
</body>
</html>