<div id="footer">
    <div class="footer_box">
        <div class="left">
            <a href="/" class="link_home">DB_TERM</a>
            <div class="info">
                <span>Database Term Project</span>
                <span>201924523 이경민</span>
                <span>201824441 김승혁</span>
            </div>
        </div>
        
        <div class="right">
            <div class="info">
                <span>부산대학교</span>
                <span>데이터베이스 061분반</span>
                <span>조준수 교수님</span>
            </div>
        </div>
    </div>
</div>