<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
  </head>

  <body>
    <%- include('top.ejs') %>
    <form id="login_window" action="/login" method="GET">
      <button type="submit">로그인</button>
    </form>
    <footer>
      <%- include('footer.ejs') %>
    </footer>
  </body>
</html>
