<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
  </head>

  <body>
    <%- include('top.ejs') %>
    <div id="hidden_div">
      <div id="recommended_content">
        <span id="recommended_title">추천 프로그램</span>
      </div>
      <%- include('search.ejs')%>
    </div>
    <footer>
      <%- include('footer.ejs') %>
    </footer>
    <script>
      chk_form=function(url){
          let frm = document.getElementById('post_frm');
          frm.action = `/post/${url}`
          frm.submit();
      }
      if(<%=hidden_div%>){
        document.getElementById("hidden_div").style.display = "none";
      }
    </script>
  </body>
</html>
