<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>로그인 창</h1>
    <form id="login" action="/login_user" method="get">
      <div>
        <input type="text" name="ID_login" id="ID_login" placeholder="ID">
      </div>
      <div>
        <input type="text" name="PW_login" id="PW_login" placeholder="Password">
      </div>
      <button type="submit">로그인</button>
    </form>
    <br>
    <form action="/register" id="register_window" method="get">
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
