<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 제목 : <%=post_title%></h1>
    <br><br>
    <h2>게시날짜 : <%=post_date%></h2>
    <h2>작성자 : <%=post_auth%> </h2>
    <h2>게시글 내용 : <%=post_content%></h2>
    
</body>
</html>