<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script/check_dup.js"></script>
</head>
<body>
    <h1>회원가입 창</h1>
    <form action="/register" method="POST" id="register_user">
        <div>
            <label for="ID_reg">아이디 : </label>
            <input type="text" name="ID_reg" id="ID_reg">
            <input type="button" id="check_button" value="ID 중복 검사" onclick="open_dup_window();"></button>
        </div>
        <div>
            <label for="PW_reg">비밀번호 : </label>
            <input type="password" name="PW_reg" id="PW_reg">
        </div>
        <div>
            <label for="NAME_reg">이름 : </label>
            <input type="text" name="NAME_reg" id="NAME_reg">
        </div>
        <div>
            <label for="user_category">유저 카테고리 : </label>
            <input type="text" name="user_category" id="user_category">
        </div>
        <input type="submit" value="회원가입"></button>
    </form>
    
</body>
</html>
