<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
    <script src="/script/check_dup.js"></script>
</head>
<body>
    <div class="regist-wrapper">
        <h1 style="text-align: center;">회원가입</h1>
        <form action="/register" method="POST" id="register_user">
            <div>
                <input type="text" name="ID_reg" id="ID_reg" placeholder="ID">
                <input type="button" id="check_button" value="ID 중복 검사" onclick="open_dup_window();"></button>
            </div>
            <div>
                <input type="password" name="PW_reg" id="PW_reg" placeholder="Password">
            </div>
            <div>
                <input type="password" name="PW_check" id="PW_check" placeholder="Password 재입력" onkeyup="checkPasswordMatch()">
                <br><span id="passwordMatch"></span>
            </div>
            <br><br>
            <div>
                <input type="text" name="NAME_reg" id="NAME_reg" placeholder="이름">
            </div>
            <div class="category_select">
                <label for="user_category" id="category">유저 카테고리 </label> <br>
                <label><input type="radio" name="user_category" id="user_category_1" value="1" onclick="checked_category(this.value)">장애인</label>
                <label><input type="radio" name="user_category" id="user_category_2" value="2" onclick="checked_category(this.value)">보호자</label>
                <label><input type="radio" name="user_category" id="user_category_3" value="3" onclick="checked_category(this.value)">센터</label>
                <label><input type="radio" name="user_category" id="user_category_4" value="4" onclick="checked_category(this.value)">강사</label>
                <label><input type="radio" name="user_category" id="user_category_5" value="5" onclick="checked_category(this.value)">일반 사용자</label>
                
            </div>
            <div class="hidden_content" id="content_1" style="display: none;">
                <input name="disabled_id" id="disabled_id" placeholder="disabled id"> <br>
                <label for="parent_select" id="is_parent"> 보호자 유무 </label> <br>
                <select name="parent_select" id="parent_select">
                    <option value="true">예</option>
                    <option value="false">아니오</option>
                </select>
            </div>
            <div class="hidden_content" id="content_2" style="display: none;">
                <input name="parent_id" id="parent_id" placeholder="parent id">
            </div>
            <div class="hidden_content" id="content_3" style="display: none;">
                <input name="center_id" id="center_id" placeholder="center id">
                <input name="center_address" id="center_address" placeholder="center address">
            </div>
            <div class="hidden_content" id="content_4" style="display: none;">
                <input name="teacher_id" id="teacher_id" placeholder="teacher id">
            </div>
            <div class="hidden_content" id="content_5" style="display: none;">
                <input name="normal_user_id" id="normal_user_id" placeholder="normal user id">
            </div>

            <button type="submit" id="regist_button">회원가입</button>
        </form>
    </div>
    <script>
        function checkPasswordMatch() {
            var password = document.getElementById("PW_reg").value;
            var confirmPassword = document.getElementById("PW_check").value;

            if (password !== confirmPassword) {
                document.getElementById("passwordMatch").innerHTML = "비밀번호가 일치하지 않습니다.";
                document.getElementById("passwordMatch").style.color = "red";
            } else {
                document.getElementById("passwordMatch").innerHTML = "비밀번호가 일치합니다.";
                document.getElementById("passwordMatch").style.color = "black";
            }
        }
        function hideAllcontent() {
            var hiddenContents = document.querySelectorAll('.hidden_content');
            hiddenContents.forEach(function(content) {
                content.style.display = 'none';
            });
        }
        function checked_category(value) {
            hideAllcontent();
            var contentId = 'content_' + value;
            var selectedContent = document.getElementById(contentId);
            if(selectedContent) {
                selectedContent.style.display = 'block';
            }
        }
    </script>
</body>
</html>