<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
    <script src="/script/check_dup.js"></script>
</head>
<body>
    <div class="regist-wrapper">
        <h1 style="text-align: center;">회원가입</h1>
        <form action="/register" method="POST" id="register_user">
            <div>
                <input type="text" name="ID_reg" id="ID_reg" placeholder="ID">
                <input type="button" id="check_button" value="ID 중복 검사" onclick="open_dup_window();"></button>
            </div>
            <div>
                <input type="password" name="PW_reg" id="PW_reg" placeholder="Password">
            </div>
            <div>
                <input type="password" name="PW_check" id="PW_check" placeholder="Password 재입력" onkeyup="checkPasswordMatch()">
                <br><span id="passwordMatch"></span>
            </div>
            <br><br>
            <div>
                <input type="text" name="NAME_reg" id="NAME_reg" placeholder="이름">
            </div>
            <div class="category_select">
                <label for="user_category" id="category">유저 카테고리 </label> <br>
                <label><input type="radio" name="user_category" id="user_category">장애인</label>
                <label><input type="radio" name="user_category" id="user_category">보호자</label>
                <label><input type="radio" name="user_category" id="user_category">센터</label>
                <label><input type="radio" name="user_category" id="user_category">강사</label>
                <label><input type="radio" name="user_category" id="user_category">일반 사용자</label>
                
            </div>
            <button type="submit" id="regist_button">회원가입</button>
        </form>
    </div>
    <script>
        function checkPasswordMatch() {
            var password = document.getElementById("PW_reg").value;
            var confirmPassword = document.getElementById("PW_check").value;

            if (password !== confirmPassword) {
                document.getElementById("passwordMatch").innerHTML = "비밀번호가 일치하지 않습니다.";
                document.getElementById("passwordMatch").style.color = "red";
            } else {
                document.getElementById("passwordMatch").innerHTML = "비밀번호가 일치합니다.";
                document.getElementById("passwordMatch").style.color = "black";
            }
        }
    </script>
</body>
</html>
