<div class="post_group">
    <ul class="list_post">
        <% for(let post of posts) { %>
        <li class="post">
                <span class="text_box">
                    <form action="" method="GET" id="post_frm">
                        <span class="post_info">
                            <%=post.post_id%> <a href="#" onclick="chk_form( <%=post.post_id%> )" ><%= post.title %></a><%= post.date %>
                        </span>
                    </form>
                </span>
        </li>
        <br>
        <% } %>
    </ul>
</div>