<div class="post_group">
    <table class="post_table">
        <thead id="post_head">
            <tr>
                <th>Post ID</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            
            <% for(let post of posts) { %>
                <form action="" method="GET" id="post_frm">
                    <tr>
                    <td><%= post.program_id %></td>
                    <td><a href="#" onclick="chk_form( <%=post.program_id%> )" ><%= post.title %></a></td>
                    <td><%= post.date %></td>
                    </tr>
                </form>
            <% } %>
        </tbody>
    </table>
</div>