<div id="topHeaderRow">
    <div class="container">
       <div class="pull-right">
          <ul class="list-inline">
            <li><a href=""><span class="log-out"></span> Logout</a></li>
            <li><a href=""><span class="user"></span> Profile</a></li>
          </ul>         
       </div>
    </div>
</div>
<div id="menu">
    <nav id="menu_category" style="position: static; top: initial;">
        <ul class="item">
            <li><a href=""><span>프로그램</span></a></li>
            <li><a href=""><span>게시판</span></a></li>
            <li><a href=""><span>마이페이지</span></a></li>
        </ul>
    </nav>

</div>