<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrap_write">
        <form action="/write" method="post">
            제목<input type="text" name="title" id="write_title">
            <br>
            카테고리<input type="text" name="category" id="write_category">
            <br>
            내용<input type="text" name="content" id="write_content">
            <br>
            프로그램 진행 날짜<input type="text" name="date" id="write_date">
            <br>
            최대 인원 수<input type="text" name="count_max" id="write_count_max">
            <br>
            <button type="submit" id="submit_button" class="submit_button">등록하기</button>
        </form>
    </div>
</body>
</html>

