<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrap_write">
        <input type="text" name="title" id="write_title">
        <input type="text" name="content" id="write_content">
        <input type="text" name="date" id="write_date">
        <button type="submit" id="submit_button" class="submit_button">등록하기</button>
    </div>
</body>
</html>

