/* 로그인 화면 */
*{
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.login-wrapper {
    width: 1000px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 300px;
}
.login-wrapper > h1 {
    font-size: 48px;
    color: rgb(21, 157, 98);
    margin-bottom: 20px;
}
#login {
    margin-top: 50px;
}
#ID_login, #PW_login {
    width: 60%;
    height: 60px;
    padding: 0 10px;
    margin-left: 20%;
    font-size: 24px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(232, 231, 231);
}
#login > input::placeholder{
    color: gray;
}
#login > button {
    width: 60%;
    height: 60px;
    margin-left: 20%;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 24px;
    background-color: rgb(21, 157, 98);
    margin-top: 20px;
}
#register_window > button {
    width: 60%;
    height: 60px;
    margin-left: 20%;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #989798;
    margin-top: 20px;
}
/* 회원가입 화면 */
.regist-wrapper {
    width: 1000px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
}
.regist-wrapper > h1 {
    font-size: 48px;
    color: rgb(21, 157, 98);
    margin-bottom: 20px;
}
#ID_reg, #PW_reg, #PW_check, #NAME_reg {
    width: 60%;
    height: 60px;
    margin-left: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(232, 231, 231);
}
#passwordMatch {
    margin-left: 20%;
    font-size: 18px;
}
.category_select {
    font-size: 24px;
}
#ID_reg {
    width: 40%;
    height: 60px;
    margin-left: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(232, 231, 231);
}
#check_button {
    width: 20%;
    height: 60px;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 24px;
    background-color: rgb(21, 157, 98);
    margin-top: 20px;
}
#category {
    font-size: 24px;
    margin-left: 20%;
}
#user_category {
    margin-left: 20%;
}

#regist_button {
    width: 60%;
    height: 60px;
    margin-left: 20%;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 24px;
    background-color: rgb(21, 157, 98);
    margin-top: 20px;
}
.hidden_content {
    font-size: 24px;
}
#disabled_id, #what_disabled, #what_hobby,#center_select, #parent_select, #parent_id, #center_id, #center_address, #teacher_id, #normal_user_id {
    width: 60%;
    height: 60px;
    margin-left: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(232, 231, 231);
}
#is_parent, #is_center, #what_dis, #hobby {
    font-size: 24px;
    margin-left: 20%;
}

.care-disabled, .center-disabled {
    width: 50%;
    height: 60px;
    margin-left: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(232, 231, 231);
}
#parent_button, #center_button {
    width: 10%;
    height: 60px;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 24px;
    background-color: rgb(21, 157, 98);
    margin-top: 20px;
}
/* header */
ul {
    list-style:none;
    margin: 0px auto;
    padding-inline-start: 0px;
}
li {
    display: inline-block;
}
#menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    background-color: #ffffffe6;
}
#logo {
    position: absolute;
    width: 115px;
    height: 75px;
    left: 45px;
    font-size: 30px;
}
#logo img {
    width: 75px;
    height: 75px;
}
#menu_category {
    display: block;
    position: relative;
    width: 412px;
    height: 46px;
    margin: 0 auto;
    padding: 24px 0 0;
}
#menu_category .top_item li {
    float: left;
    position: relative;
    height: 31px;
    padding: 0 22px 0 21px;
}
#menu_category .top_item li span {
    font-size: 24px;
    color: #444;
    text-decoration: none;
}
#util {
    position: absolute;
    top: 0;
    right: 0;
}
#util .link_util {
	float: left;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
#util .link_reg {
    margin-top: 18px;
    margin-left: 13px;
    border: 1px solid #444;
    background-color: #444;
}
#util .link_login {
    margin: 18px 2px 0 5px;
    border: 1px solid #e7e7e7;
    color: #444;
}
#util .search_btn {
    float: left;
    position: relative;
    width: 71px;
    vertical-align: top;
}
#util .search_icon {
    width: 25px;
    height: 26px;
    margin: 2px 0 0 10px;
    background-position: -492px -511px;
}

/* footer */
#footer {
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 100%;
    border-top: 2px solid #302f30;
    background-color: #302f30;
    bottom: 0;
    left: 0;
}
.footer_box {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.footer_box .link_home {
    display:inline-block;
    width: 140px;
    height: 28px;
    margin: 10px 0px;
}
.footer_box .link_home :visited {
    color: #fff;
}
.footer_box .left {
    width: 50%;
    float: left;
}
.footer_box .right {
    width: 50%;
    float: right;
}

.footer_box .info {
    width: 300px;
}
.footer_box .info span {
    display: block;
    margin-bottom: 7px;
    padding-top: 10px;
    font-size: 14px;
    color: #989798;
}

/* 게시판 */
.post_group {
    position: absolute;
    width: 100%;
    margin: 0 auto 100px;
    top: 75px;
}
.post_group .list_post {
    overflow: hidden;
}
.post_group .list_post li {
    position: relative;
    margin: 30px 0 0 13px;
    font-size: 18px;
}
.post_group .list_post .text_box {
    display: block;
    color: #666;
    background-color: #fff;
    vertical-align: bottom;
}

/* 검색창 */
.search_wrap {
    padding: 0;
    padding-top: 75px;
}
.search_wrap .search_form {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.search_wrap .search_box {
    position: relative;
    height: 70px;
    padding: 0 70px;
    border-radius: 35px;
    background-color: #f7f8f9;
}
.search_wrap .input_search {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    font-size: 30px;
    line-height: 36px;
    color: #444;
    background-color: initial;
    outline: none;
}
.btn_delete {
    position: absolute;
    right: 26px;
    top: 20px;
    width: 30px;
    height: 30px;
}
.ico_delete {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    cursor: pointer;
}
.ico_delete img {
    width: 100%;
}
.search_wrap .btn_search {
    position: absolute;
    top: 22px;
    left: 28px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.search_wrap .ico_search {
	display: block;
    overflow: hidden;
    width: 25px;
    height: 25px;
}
.search_wrap .ico_search img {
	width: 100%;
	height: 100%;	
}
/* program-list */
.submit_button {
    position: absolute;
    width: 100px;
    right: 12%;
    margin-top: 80px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    transition: all 0.2s ; 
} 
.post_group {
    position: absolute;
    max-height: 600px;
    overflow-y: scroll;
    margin-top: 5em;
}
.post_table {
    border: 1px #a39485 solid;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 auto;
}
.post_table th {
    text-align: left;
}
#post_head {
    font-weight: bold;
    color: #fff;
    background-color: rgb(21, 157, 98);
}
.post_table td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}
.post_table td, th {
    padding: 1em .5em;
    vertical-align: middle;
}
.post_table #add_line {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #a39485;
}
/* write page */
.wrap_write {
    padding-top: 60px;
}
.write_main {
    margin: 0 auto;
    width: 1000px;
    padding: 40px 70px 50px;
}
.write_head {
    font-size: 30px;
    color: #444;
    height: 60px;
    display: block;
    margin: 2px 0px;
}
.wrap_write .write_main th {
	text-align:left;
	width: 120px;
}
.wrap_write .write_main .tr_oneLine {
    height: 70%;
}
.wrap_write .write_main .bottom_line {
    width: 90%;
    height: 40px;
    line-height: 37px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}
.wrap_write .write_main input:focus {
	outline: none;
}
.wrap_write .write_main input[type='text'] {
	width: 95%;
    height: 39px;
	padding: 0px 10px;
}
.wrap_write .write_main textarea, pre{
    resize: none;
    width: 86%;
    padding: 2%;
    height: 180px;
    border: 2px solid #f0f0f0;
    font-size: 17px;
    line-height: 22px;
    color: #222;
}
.wrap_write .write_main textarea:focus {
    outline: none;
}
.submit_button2 {
    display: block;
    margin: 0px auto 20px;
    padding: 15px 0px;
    width: 80px;
    background-color: rgb(21, 157, 98);
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
/* my page */
#myinfo_wrap {
    margin: 0 auto;
    padding-top: 100px;
}
#myinfo_wrap #myinfo_main {
    margin: 0 auto;
    max-width: 550px;
    min-width: 500px;
}
#myinfo_wrap #myinfo_main .title {
    margin-bottom: 10px;
    color: #444;
    font-size: 30px;
}
#myinfo_wrap #myinfo_main .title .myinfo {
    display: block;
    margin: 2px 0px;
}
.myinfo_table {
    width: 100%;
    margin: 0;
    padding: 0;
}
.myinfo_table .myinfo_item {
    padding: 15px 0px;
    width: 100px;
    color: #444;
}
.myinfo_table .myinfo_item div {
    margin-top: 10px;
}
.myinfo_table .myinfo_item_value div {
    width: 100%;
    height: 50px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #f0f0f0;
}
.myinfo_table .myinfo_item_value span {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 49px;
    padding: 0 3%;
    margin-top: 10px;
}
#mywrite_wrap {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 550px;
    min-width: 500px;
}
#mywrite_wrap #mywrite_table {
    margin: 0 auto;
    width: 550px;
}
#mywrite_wrap .title {
    margin-bottom: 10px;
    color: #444;
    font-size: 30px;
}
#mywrite_wrap .title .mywrite {
    display: block;
    margin: 2px 0px;
}
#mywrite_wrap #mywrite_table #mywrite_count {
    text-align: center;
}
/* main page - recomend part */
#recommended_content {
    padding-top: 100px;
}
#recommended_title {
    display: block;
    text-align: center;
    font-size: 30px;
    height: 50px;
    color: #444;
}
#cancel_button {
    width: 50px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    background-color: #444;
    color: white;
}
#connect_disabled {
    display: block;
    width: 140px;
    margin: 0 auto;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #444;
    color: white;
    margin-top: 100px;
}
@media (max-width:980px) {
    
}
